* {
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #8dacb8;
}

.calculator-housing {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #87ceeb;
    width: 340px;
    height: 540px;
    border-radius: 3px;
    box-shadow: 0px 15px rgb(92, 192, 231), 0px 25px 10px 8px rgba(0, 0, 0, 0.144);
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.screen-housing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding-bottom: 2px;
}

#screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 65px;
    width: 100%;
    background-color: white;
    border: 5px inset black;
    border-radius: 3px;
}

#screen h3 {
    margin-bottom: 0px;
    margin-right: 4px;
    font-size: 40px;
}

.buttons {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    background-color: rgb(99, 99, 99);
    border-radius: 3px;
    gap: 1px;
    padding: 0px 3px 4.5px 3px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 3px rgb(37, 37, 37), -1px 3px rgb(37, 37, 37);
    font-family: "Orbitron", sans-serif;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0px 0px rgba(255, 255, 255, 0), 0px 0px rgba(255, 255, 255, 0);
}

.equality-housing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color:rgb(99, 99, 99);
    margin-top: 10px;
    border-radius: 3px;
    padding-bottom: 2px;
}

#equality {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 40px;
    background-color: #6E7E85;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 3px rgb(0, 75, 0), -1px 3px rgb(0, 75, 0);
}

.solar-panel {
    width: 140px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.695);
    margin-left: auto;
    margin-right: 20px;
    border: 5px inset black;
    margin-bottom: 10px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 3px;
}

.logo {
    display: inline-block;
    margin-left: 22px;
}  

.logo h3 {
    margin: 0;
    font-family: "Great Vibes", sans-serif;
}

.logo p {
    margin: 0;
    font-family: "Italianno", sans-serif;
    text-align: center;
}